doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.nav-bar 
      h2 Members Only 
      div.log-in-out
        if user 
          a(href='/home/logout') Logout
        else 
          a(href='/home/signup') Sign Up
          a(href='/home/login') Login
    block content
