doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.nav-bar 
      h2 Members Only 
      div.log-in-out
        if user.member_status === 'Member'
          a(href='/home/join-secret-club') Join Secret Club
        if user 
          a(href='/home/logout') Logout
        else 
          a(href='/home/signup') Sign up
          a(href='/home/login') Log in
    block content
